<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>AnimalInfoSite</title>
</head>
<body>
<h1>Datasheets - All animals</h1>
<br>
<br>
<br>

<p>All the animals.</p>

<table width="50%" th:each="animal : ${myAnimals}">
    <tr>
        <hr style="width:100%;text-align:center">
    </tr>
    <tr><img src="https://cataas.com/cat" width="15%"></tr>
    <tr>
        <td>id:</td>
        <td th:text="${animal.id}">42354235</td>
    </tr>
    <tr>
        <td>owner id:</td>
        <td th:text="${animal.ownerId}">24242342356</td>
    </tr>
    <tr>
        <td>name:</td>
        <td th:text="${animal.petName}">Cirmos</td>
    </tr>
    <tr>
        <td>age:</td>
        <td th:text="${animal.age}">11</td>
    </tr>
    <tr>
        <td>Gender</td>
        <td th:text="${animal.gender}">male</td>
    </tr>
    <tr>
        <td>Neutered:</td>
        <td th:text="${animal.isNeutered}">no</td>
    </tr>
    <tr>
        <td>My character:</td>
        <td>I'm a
            <div>kind</div>
            cat
        </td>
    </tr>
    <tr>
        <td>What I like:</td>
        <td>mouses</td>
    </tr>
    <tr>
        <hr style="width:100%;text-align:center">
    </tr>
</table>


</body>
</html>