<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Owner info</title>
</head>



<body>

    <section>
        <h1>All owners' accounts:</h1>

<th:block th:each="user : ${owners}">
        <table >
            <tr>
                <td>ID:</td><td th:text="${user.id}">OW-243242</td>
            </tr> 
            <tr>
                <td>Username:</td><td><a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                    th:text="${user.userName}" th:href="@{'/th/pethostel/user/findByUserName/' + ${user.userName}}">ktd003</a></td>
            </tr>
            <tr>
                <td>Firstname:</td><td th:text="${user.firstName}">Georg</td>
            </tr>
            <tr>
                <td>Lastname:</td><td  th:text="${user.lastName}">Azurro</td>
            </tr>
            <tr>
                <td>Date of birth:</td><td th:text="${user.dateOfBirth}">1981.03.15.</td>
            </tr>
            <tr>
                <td>Email:</td><td th:text="${user.email}">zujs@mizu.com</td>
            </tr>
            <tr>
                <td>Membership:</td><td th:text="${user.membership}">Premium member</td>
            </tr>
            <tr>
                <td>Membership points:</td><td th:text="${user.membershipPoints}">14</td>
            </tr>
            <tr>
                <td>Currency:</td><td th:text="${user.currency}">HUF</td>
            </tr>    
            <tr>
                <td>Balance:</td><td th:text="${user.balance}">-4980</td>
            </tr>
            <tr>
                <td>Animals:</td><td>
                    <th:block th:each="animal : ${user.animals}">
                        <span><a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                            th:text="${animal.petName}" th:href="@{'/th/pethostel/animal/findById/' + ${animal.id}}">Frici</a></span>
                    </th:block>
                </td>
            </tr>
            <tr>
                <td>Reservations:</td>
                <td>
                    <th:block th:each="reservation : ${user.reservations}">
                        <div th:text="${reservation.startingDateTime}">2017-01-13T17:09:42.411</div>
                    </th:block>
                </td>
            </tr>
       </table>
       <hr>
    </th:block>
    
    </section>

</body>

</html>
