<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration - new user</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        body {
            padding: 0px;
            margin: 0px;
        }

        section {
            padding: 60px 0;
        }
    </style>
</head>

<body>


    <div class="container-md">
        <div class="row px-1 mx-1 mt-1 justify-content-center">
            <p class="fs-3 bg-warning rounded text-start col-md-10 shadow">Create new user account</p>
        </div>

        <form class="row g-3 p-1 m-2 align-items-center justify-content-center" action="#"
            th:action="@{/th/pethostel/user/register}" method="post" th:object="${user}">
            <div class="col-md-4">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" th:field="*{userName}"
                    placeholder="starts with letter, just lowercase letters, '-', '_', or number">
            </div>
            <div class="col-md-4">
                <label for="firstname" class="form-label">Firstname</label>
                <input type="text" class="form-control" id="firstname" th:field="*{firstName}">
            </div>
            <div class="col-md-4">
                <label for="lastname" class="form-label">Lastname</label>
                <input type="text" class="form-control" id="lastname" th:field="*{lastName}">
            </div>
            <div class="col-md-4">
                <label for="dateOfBirth" class="form-label">Date of birth</label>
                <input type="date" class="form-control" id="dateOfBirth" name="dateOfBirthString" th:value="${dateOfBirthString}" value="1956.10.23." min="1900.01.01" max="2024.01.01.">
                
            </div>
            <div class="col-md-4">
                <label for="email" class="form-label">Email</label>
                <input type="text" class="form-control" id="email" th:field="*{email}">
            </div>
            <div class="col-md-4">
                <label for="inputPassword" class="form-label">Password</label>
                <input type="password" class="form-control" id="inputPassword" th:field="*{password}">
            </div>
            <div class="col-md-12">
                <label for="currencySelector" class="form-label">Currency</label>
                    <select class="form-select" id="currencySelector" th:field="*{currency}">
                        <!--name="currencyStr"-->
                    <option value="" disabled selected>Select a currency</option>
                    <th:block th:each="currency : ${currencies}">
                        <option th:value="${currency}" th:text="${currency.name}">XYZ</option>
                    </th:block>
                </select>
            </div>

            <div class="col-md-2">
                <button type=" submit" class="btn btn-success">Register</button>
            </div>
            <div class="col-md-2">
                <button type="reset" class="btn btn-danger">Reset, maybe later</button>
            </div>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>