<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration - new user</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        body {
            padding: 0px;
            margin: 0px;
        }

        section {
            padding: 60px 0;
        }
    </style>
</head>

<body>


    <div class="container-md">
        <div class="row px-1 mx-1 mt-1 justify-content-center">
            <p class="fs-3 bg-warning rounded text-start col-md-10 shadow">Registration of a new pet</p>
        </div>

        <form class="row g-3 p-1 m-2 align-items-center justify-content-center" action="#"
            th:action="@{/web/pethostel/pet/add}" method="post" th:object="${pet}">
            <div class="col-md-4">
                <label for="petName" class="form-label">Petname</label>
                <input type="text" class="form-control" id="petName" th:field="${petName}"
                    placeholder="e.g.: Caty">

                <!-- the hidden username-->
                <input type="hidden" name="hiddenUserName" th:value="${user.userName}">
                <!-- the hidden username-->
            </div>
            <div class="col-md-4">
                <label for="age" class="form-label">Age: <span id="rangeValue" ></span></label>
                <input type="range" class="form-control" id="age" th:field="*{age}" min="0" max="25" value="10">
            </div>
            <div class="col-md-4">
                <label for="genderSelector" class="form-label">Gender</label>
                    <select class="form-select" id="genderSelector" name="genderStr">
                    <option selected>...</option>
                    <th:block th:each="gender: ${genders}">
                        <option th:value="${gender.name}" th:text="${gender.name}">male</option>
                    </th:block>
                </select>
            </div>
            <div class="col-md-12">
                <label for="notes" class="form-label">Special neeeds</label>
                <input type="text" class="form-control" id="notes" th:field="*{specialNeeds}"
                    placeholder="e.g.: Cirmi likes to eat antiallergene food only...">
            </div>
            <div class="col-md-12">
                <label for="img" class="form-label">Image</label>
                <input type="text" class="form-control" id="img" th:field="*{pictureURL}" placeholder="use a link please, e.g.: https://img.freepik.com/premium-photo/close-up-cat_1048944-1949595.jpg?w=740 ">
            </div>
            <div>
                <input id="isNeutered" type="checkbox" name="isNeutered">
                <label for="isNeutered">Is neutered?</label>               
            </div>

            <div class="col-md-2">
                <button type=" submit" class="btn btn-success">Register</button>
            </div>
            <div class="col-md-2">
                <button type="reset" class="btn btn-danger">Reset, maybe later</button>
            </div>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>


        <script>
            // Get the range input and the span to display the value
            var rangeInput = document.getElementById('age');
            var rangeValue = document.getElementById('rangeValue');
    
            // Update the span when the range input value changes
            rangeInput.addEventListener('input', function() {
                rangeValue.textContent = rangeInput.value;
            });
        </script>

</body>

</html>