<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Reservation info</title>
</head>



<body>

    <section>
        
        <table>
             </tr>
                <td>Owner:<td th:text="${reservation.petOwner.firstName + ' ' + reservation.petOwner.lastName}">Kis Pista</td>
            </tr>
            </tr>
                <td>Cats:</td>
                <td>
                <span th:each="animal : ${reservation.animalsPerReservationsList}">
                    <span th:text="${animal.petName} + ' '">Caty</span>
                </span>
                </td>
            </tr>  
            </tr>
                <td>Arrival:<td th:text="${reservation.startingDateTime}">2024.03.18. 18:00</td>
            </tr>
            </tr>
                <td>Departure:<td th:text="${reservation.finishingDateTime}">2024.03.20. 20:00</td>
            </tr>
            </tr>
                <td>Duration:<td><span th:text="${reservation.duration}">720 min</span><span> min</span></td>
            <tr>
                <td>Services:</td>
                <td>
                    <span th:each="service : ${reservation.services}">
                        <span th:text="${service.serviceName} + ' [' + ${service.numberOfServicesPerReservation} + ' pc],'">Daycare [8 pc]</span>
                    </span>
                </td>
            </tr>
            <tr>
                <td>Total price:</td><td th:text="${reservation.priceOfReservation + ' ' + reservation.petOwner.currency.name}">8500 Ft</td>
            </tr>
        </table>
    
    </section>

</body>

</html>
