<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Services</title>
</head>



<body>

    <section>
        
        <table th:each="utility: ${utilities}">
            </tr>
                <td>Daycare</td>
            </tr>
            <tr>
                <td><span>5000</span> <span>Ft</span></td>
            </tr>
            </tr>
                <td>Description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae aut enim delectus,
                     at nesciunt impedit nemo non accusamus, facere inventore quae quas, minus amet odit sequi
                      nam atque soluta! Commodi quos similique esse non cum? Error nostrum ullam quas doloremque?</td>
            </tr>  
            
        </table>
        <p>
            <strong>
            General description: Lorem ipsum dolor sit amet consectetur adipisicing elit. In quae cumque laudantium quibusdam harum neque rem ut labore officia assumenda?
            </strong>       
        </p>
    
    </section>

</body>

</html>
